/**
 * 滚动条样式
 */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg-light);
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary-light);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark-light);
}

body.dark-mode ::-webkit-scrollbar-track {
    background: var(--color-bg-dark);
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background: var(--color-primary-dark);
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background: var(--color-primary-dark-dark);
}

